<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CalculateImplementEndPoint" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9001/CalcImpl" binding="basicHttpBinding"
                bindingConfiguration="CalculateImplementEndPoint" contract="ServiceReference1.ICalc"
                name="CalculateImplementEndPoint" />
        </client>
    </system.serviceModel>
</configuration>